errors.txt
log.txt
traceback.txt
game/saves/auto-10-LT1.save
game/saves/auto-4-LT1.save
game/saves/auto-5-LT1.save
game/saves/auto-6-LT1.save
game/saves/auto-7-LT1.save
game/saves/auto-8-LT1.save
game/saves/auto-9-LT1.save
